@import './base.css';

#app {
  height: 100vh;
  margin: 0 auto;
  font-weight: normal;
}

main {
  height: 100%;
}

nav {
  position: fixed;
  top: 0;
  width: 100%;
  display: flex;
  justify-content: space-between;
  padding: 1em;
}

nav div {
  display: flex;
  padding: 1em;
  gap: 10em;
}

.header {
  width: 100%;
  display: flex;
  justify-content: space-between;
  padding: 2em;
}

.footer {
  width: 100%;
  display: flex;
  justify-content: space-between;
  padding: 2em;
}

a,
.green {
  text-decoration: none;
  color: #1a1a1a;
  font-family: 'LT Binary Neue', sans-serif;
  /* background-color: black; */
  transition: 0.4s;
}
